<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>knoti</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>

<body class="pt-0">

  <!-- Navigation -->
  <nav id="nav" class="navbar navbar-expand bg-white"></nav>

  <!-- Header -->
  <header id="header" class="border-bottom">
<div class="container py-4 text-center">
  <a class="navbar-brand" href="/index.html">
    <img class="main-logo" src="/image/main/logo.jpg" alt="logo">
  </a>
</div>
</header>

  <!-- Side Menu -->
  <div id="sideMenu" class="offcanvas offcanvas-start" tabindex="-1">
<div class="offcanvas-header">
  <h5 class="offcanvas-title">Menu</h5>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
</div>

<div class="offcanvas-body p-0">
  <div class="accordion accordion-flush" id="sideMenuAccordion">

    <!-- My Page -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menuMyPage">
          My Page
        </button>
      </h2>
      <div id="menuMyPage" class="accordion-collapse collapse" data-bs-parent="#sideMenuAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled mb-0">
            <li><a href="/components/mypage/mypage.html">내 정보</a></li>
            <li><a href="/components/mypage/cart.html">장바구니</a></li>
            <li><a href="/components/mypage/order.html">주문 조회</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Store -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menuStore">
          Store
        </button>
      </h2>
      <div id="menuStore" class="accordion-collapse collapse" data-bs-parent="#sideMenuAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled mb-0">
            <li><a href="/components/store/bracelet.html">팔찌</a></li>
            <li><a href="/components/store/necklace.html">목걸이</a></li>
            <li><a href="/components/store/keyring.html">키링</a></li>
            <li><a href="/components/store/diy.html">D.I.Y</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Reserve -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a href="/components/reserve/reserve.html" class="accordion-button collapsed no-arrow text-decoration-none">
          Reserve
        </a>
      </h2>
    </div>

  </div>
</div>
</div>

  <!-- 카테고리 Section -->
  <section id="categorySection" class="category-section">
    <div class="container">
      <ul class="category-list">
        <li><a href="/components/store/bracelet.html">팔찌</a></li>
        <li><a href="/components/store/necklace.html" class="active">목걸이</a></li>
        <li><a href="/components/store/keyring.html">키링</a></li>
        <li><a href="/components/store/diy.html">D.I.Y</a></li>
      </ul>
    </div>
  </section>

  <!-- 상품 Section -->
  <section class="py-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n01.html">
            <img src="/image/necklace/necklace_1.jpg" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">빈티지 별 원석 목걸이</h5>
              <p class="card-text text-muted">₩12,800</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n02.html">
            <img src="/image/necklace/necklace_2.jpg" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">블랙 화이트 스타 비즈 목걸이</h5>
              <p class="card-text text-muted">₩13,500</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n03.html">
            <img src="/image/necklace/necklace_3.jpg" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title"> 나비 펜던트 가죽 끈 목걸이</h5>
              <p class="card-text text-muted">₩10,200</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n04.html">
            <img src="/image/necklace/necklace_4.jpg" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">하트 나비 펜던트 실 목걸이</h5>
              <p class="card-text text-muted">₩10,100</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n05.html">
            <img src="/image/necklace/necklace_5.jpg" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">유색 원석 실버볼 실 목걸이</h5>
              <p class="card-text text-muted">₩9,800</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n06.html">
            <img src="/image/necklace/necklace_6.jpg" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">장미 실버볼 롱 레이어드 목걸이</h5>
              <p class="card-text text-muted">₩14,200</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n07.html">
            <img src="/image/necklace/necklace_7.jpg" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">블랙 실버 비즈 목걸이</h5>
              <p class="card-text text-muted">₩12,800</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n08.html">
            <img src="/image/necklace/necklace_8.jpg" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">블랙 믹스 스타 목걸이</h5>
              <p class="card-text text-muted">₩13,500</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n09.html">
            <img src="/image/necklace/necklace_9.jpg" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">히카 빈티지 플라워 목걸이</h5>
              <p class="card-text text-muted">₩14,000</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n10.html">
            <img src="/image/necklace/necklace_10.jpg" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">스타 볼로 매듭 실 목걸이</h5>
              <p class="card-text text-muted">₩19,000</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n11.html">
            <img src="/image/necklace/necklace_11.jpg" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">하트 펜던트 오닉스 비즈 목걸이</h5>
              <p class="card-text text-muted">₩11,900</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n12.html">
            <img src="/image/necklace/necklace_12.png" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">블랙 리본 써지컬스틸 오닉스 원석 끈 목걸이</h5>
              <p class="card-text text-muted">₩13,900</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n13.html">
            <img src="/image/necklace/necklace_13.png" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">루나링 별 원석 끈 목걸이</h5>
              <p class="card-text text-muted">₩12,800</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n14.html">
            <img src="/image/necklace/necklace_14.png" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">하트 써지컬 스틸 드롭 목걸이</h5>
              <p class="card-text text-muted">₩12,100</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n15.html">
            <img src="/image/necklace/necklace_15.png" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">빈티지 별 하트 끈 목걸이</h5>
              <p class="card-text text-muted">₩12,700</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n16.html">
            <img src="/image/necklace/necklace_16.png" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">캣츠아이 원석 끈 목걸이</h5>
              <p class="card-text text-muted">₩12,400</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n17.html">
            <img src="/image/necklace/necklace_17.png" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">블랙 크랙 원석 드롭 목걸이</h5>
              <p class="card-text text-muted">₩15,000</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <a href="/components/store/product-detail_n18.html">
            <img src="/image/necklace/necklace_19.jpg" class="product-img" alt="product-imgage">
            </a>
            <div class="card-body">
              <h5 class="card-title">리우 원석 빈티지 보헤미안 마블 목걸이</h5>
              <p class="card-text text-muted">₩11,900</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer id="footer" class="py-4 text-center">
<p class="fw-bold mb-1">Knoti</p>
<p class="text-muted small mb-0">© 2025 All Rights Reserved</p>
</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/include.js"></script>
  <script src="/js/category.js"></script>

</body>

</html>